name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  #Linux:
   # runs-on: ubuntu-latest
    #steps:
     # - uses: actions/checkout@v2
      #- uses: subosito/flutter-action@v1
       # with:
        #  channel: beta
      #- run: flutter config --enable-linux-desktop
      #- run: flutter build linux
  #Windows:
   # runs-on: windows-latest
    #steps:
     # - uses: actions/checkout@v2
      #- uses: subosito/flutter-action@v1
       # with:
      #    channel: beta
      #- run: flutter config --enable-windows-desktop
      #- run: flutter build windows
  Web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
       flutter-version: '2.0.5'
       channel: 'dev'
    - run: flutter pub get
    - run: flutter build web
    - run: rm -rf ${{ github.workspace }}/docs*
    - run: cp -r ${{ github.workspace }}/web ${{ github.workspace }}/docs
    
    - name: "Upload Artifact"
      uses: actions/upload-artifact@v1
      with:
        name: RPMTW-website-${{ github.run_number }}
        path: ${{ github.workspace }}/web
    - name: "Update File"
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'actions@users.noreply.github.com'
        @"
        protocol=https
        host=github.com
        username=github-actions[bot]
        password=${{ secrets.GITHUB_TOKEN }}
        "@ > .\1.txt
        gc 1.txt|git credential-manager  store
        ri .\1.txt -Force
        git add ${{ github.workspace }}/docs
        git commit -m "Update Website"
        git push origin HEAD:${{ github.ref }}
      shell: pwsh
